body {
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
    width: 800px;
    margin: 25px auto;
}

.canvasContainer {
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.6);
    display: inline-block;
}

a {
    color: #fff;
}
a:hover {
    color: #f00;
}
